@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

input, textarea {
  @apply w-full border my-1 py-2 px-3 rounded-2xl;
}

textarea {
  height: 140px;
}

button {
  @apply bg-gray-300;
}

button.primary {
  @apply bg-primary p-2 w-full text-white rounded-2xl;
}

.perk {
  @apply border p-4 text-center rounded-2xl cursor-pointer;
}